<html>
    <head>
        {% if title %}
        <title>{{ title }} - Terminal Trader</title>
        {% else %}
        <title>Welcome to Terminal Trader!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Terminal Trader: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('uholdings') }}">Holdings</a>
            <a href="{{ url_for('orderhistory') }}">Order History</a>
            <a href="{{ url_for('trade') }}">Trade</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>