{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}. Your current holdings are as follow:</h1>
    {% for holding in userholdings %}
    <div><p>{{ holding.ticker_symbol }} number of shares: <b>{{ holding.number_of_shares }}</b></p></div>
    {% endfor %}
    <h1>What would you like to sell?</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ticker_symbol.label }}<br>
            {{ form.ticker_symbol(size=32) }}<br>
            {% for error in form.ticker_symbol.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.number_of_shares.label }}
            {{ form.number_of_shares(size=32) }}<br>
            {% for error in form.number_of_shares.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}