{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello, {{ current_user.username }}. Your current holdings are as follow:</h1>
    {% for holding in userholdings %}
    <div><p>{{ holding.ticker_symbol }} number of shares: <b>{{ holding.number_of_shares }}</b></p></div>
    {% endfor %}
    <h1>What would you like to sell?</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}